<!-- <ul> All the videos!
  <% @videos.each do |video| %>
    <li><%= link_to video.title, video_path(video.id) %></li>
  <% end %>
</ul> -->

<table>
  <thead>
    <tr>
      <th>Video Title</th>
      <th>Movie</th>
      <th>Make Changes</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>