<h3><a href="/movies/gladiator"><%= @movie[:title] %></a></h3>
<h3><a href="/movies/matilda"><%= @movie[:title2] %></a></h3>
<h3><a href="/movies/sound_of_music"><%= @movie[:title3] %></a></h3>
<h3><a href="/movies/shawshank_redemption"><%= @movie[:title4] %></a></h3>
<h3><a href="/shows/seinfeld"><%= @shows[:title] %></a></h3>
<h3><a href="/shows/friends"><%= @shows[:title2] %></a></h3>
<h3><a href="/shows/lost"><%= @shows[:title3] %></a></h3>
